nav, article, aside, footer section {
  margin: 0 auto;
  width: 900px;
}

nav {
  margin-top: 25px;
}

aside {
  padding-top: 30px;
  padding-bottom: 60px
}

#logo {
  float: left;
  padding-bottom: 25px;
}

.social-icons {
  float: right;
}

hr {
  clear: both;
}

.date {
  float: left;
}

.print {
  float: right;
}