header {
  background-color: #eee;
  height: 300px;
}

main {
  height: 600px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

main::-webkit-scrollbar {
  display: none;
}
/* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */



img {
  width: 100px;
}

ul {
  width: 760px;
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
}
li {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  justify-content: space-between;
}

button {
  display: block;
}

footer {
  background-color: #eee;
  height: 500px;
}